.env
lib/
bin/

# Omit pycache and migration files of the ticket_system app
ticket_system/__pycache__/
ticket_system/migrations/

# Omit pycache and migration files of the users app
users/__pycache__/
users/migrations/

# Omit profile_pics
media/profile_pics/