{% extends "ticket_system/base.html" %}
{% block content %}
    {% for issue in issues %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ issue.author }}</a>
                    <small class="text-muted">Posted on {{ issue.date_issueed }} -- </small>
                    {% if issue.deadline %}
                        <small class="text-muted deadline">Due on {{ issue.deadline }}</small>
                    {% else %}
                        <small class="text-muted deadline">No deadline</small>
                    {% endif %}
                    <br>
                    {% if issue.assignee %}
                        <h6>
                            Assigned to
                            <a class="mr-2" href="#">{{ issue.assignee }}</a>
                        </h6>
                    {% else %}
                        <h6>
                            No specified assignee
                        </h6>
                    {% endif %}
                </div>
                <div class="article-metadata">
                    <small><a class="article-title" href="#">Ticket #{{ issue.ticket_id }}</a></small>
                    {% if issue.priority == 'low' %}
                        <small class="priority-low"> Priority: {{ issue.priority }}</small>
                    {% elif issue.priority == 'high' %}
                        <small class="priority-hi"> Priority: {{ issue.priority }}</small>
                    {% else %}
                        <small class="priority-med"> Priority: {{ issue.priority }}</small>
                    {% endif %}
                    <small>State: {{ issue.state }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ issue.title }}</a></h2>
                <p class="article-content">{{ issue.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
