{% extends "ticket_system/base.html" %}
{% block content %}
    <h2 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h2>
    {% for ticket in tickets %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ ticket.author.profile.image.url }}" alt="">
            <div class="media-body">
                <div class="article-metadata">
                    <table class="ticket-top">
                        <tr>
                            <td>
                                <a class="mr-2" href="{% url 'user-tickets' ticket.author.username%}">{{ ticket.author }}</a>
                                <small class="text-muted">Posted on {{ ticket.date_posted|date:"F d, Y" }}</small>
                                <br>
                                {% if ticket.assignee %}
                                <small>Assigned to <a class="mr-2" href="{% url 'user-tickets' ticket.assignee.username%}">{{ ticket.assignee }}</a></small>
                                {% else %}
                                    <small>No Assignee</small>
                                {% endif %}
                                {% if ticket.deadline %}
                                    <small class="text-muted deadline">Due on {{ ticket.deadline|date:"F d, Y" }}</small>
                                {% else %}
                                    <small class="text-muted deadline">No deadline</small>
                                {% endif %}
                            </td>
                            <td class="state-float">
                                {% if ticket.state == 'closed' %}
                                    <p class="badge badge-success"><i class="fas fa-check-circle"></i> CLOSED</p>
                                {% elif ticket.state == 'open' %}
                                    <p class="badge badge-info"><i class="fas fa-folder-open"></i> OPEN</p>
                                {% else %}
                                    <p class="badge badge-warning"><i class="fas fa-wrench"></i> STAGING</p>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="article-metadata">
                    <small><a href="{% url 'ticket-detail' ticket.id %}">Ticket #{{ ticket.id }}</a></small>
                    {% if ticket.priority == 'low' %}
                        <span class="badge badge-success">MODERATE</span>
                    {% elif ticket.priority == 'high' %}
                        <span class="badge badge-danger">CRITICAL</span>
                    {% else %}
                        <span class="badge badge-warning">IMPORTANT</span>
                    {% endif %}
                    {% if ticket.author == user %}
                        <div style="float:right;">
                            <small><a class="btn btn-secondary btn-sm" href="{% url 'ticket-update' ticket.id %}"><em class="fas fa-pencil-alt"></em></a></small>
                            <small><a class="btn btn-danger btn-sm" href="{% url 'ticket-delete' ticket.id %}"><em class="fas fa-trash-alt"></em></a></small>
                        </div>
                        <p></p>
                    {% endif %}
                </div>
                <h5><a class="article-title" href="{% url 'ticket-detail' ticket.id %}">{{ ticket.title }}</a></h5>
                {% if ticket.description %}
                    <small class="article-content">{{ ticket.description }}</small>
                {% endif %}
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        <div style="text-align: center;">

            {% if page_obj.has_previous %}
                <a class="btn btn-link mb-4" href="?page=1">First</a>
                <a class="btn btn-link mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-link mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-link mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-link mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        
        </div>

    {% endif %}
{% endblock content %}